.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  z-index: -2;
}

.background-awan-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  right: 0;
  z-index: -1;
}

.bg-awan-1,
.bg-awan-2,
.bg-awan-3 {
  position: absolute;
  width: 240%;
  left: -10%;
}

.img-awan-1,
.img-awan-2,
.img-awan-3 {
  width: 12em;
}

.bg-awan-1 {
  top: 71px;
  animation: slideLeft 20s linear infinite;
  z-index: 8;
}

.bg-awan-2 {
  top: 269px;
  animation: slideLeft 30s linear infinite;
  z-index: 1;
}

.bg-awan-3 {
  top: 469px;
  animation: slideLeft 40s linear infinite;
}

.bg-bangunan-1 {
  margin-top: 100px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  z-index: -2;
}

.bg-bangunan-2 {
  animation: slideTop 10s linear infinite;
  width: fit-content;
  margin: auto;
}

.background-tanaman-container {
  display: flex;
  justify-content: space-between;
  width: 105%;
}

.tanaman-1 {
  display: flex;
  align-items: flex-end;
}

.bendera {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.bg-tanaman-1,
.bg-tanaman-2 {
  z-index: 50;
  width: 16em;
}

.bg-tanaman-1 {
  position: relative;
  left: -60px;
}

.bg-tanaman-2 {
  margin-top: 8px;
}

.bg-football,
.bg-taekwondo,
.bg-angkatbesi,
.bg-badminton,
.bg-caturKuda,
.bg-caturMenteri {
  position: absolute;
}

.bg-football {
  z-index: 10;
  left: 20%;
  transform: translateX(-20%);
}

.bg-taekwondo {
  left: 40%;
  bottom: 130px;
  transform: translateX(-40%);
}

.bg-angkatbesi {
  z-index: 10;
  left: 60%;
  bottom: 100px;
  transform: translateX(-60%);
}

.bg-badminton {
  left: 75%;
  bottom: 100px;
  transform: translateX(-75%);
}

.bg-caturKuda {
  left: 85%;
  bottom: 100px;
  transform: translateX(-85%);
}

.bg-caturMenteri {
  z-index: 10;
  left: 88%;
  bottom: 100px;
  transform: translateX(-88%);
}

.bg-rumput {
  position: absolute;
  margin: auto;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 90px;
  z-index: 1;
}

.background-tanah-container {
  display: flex;
  flex-direction: row;
  animation: slideLeft 30s linear infinite;
  gap: 0;
}

.bg-tanah-1 {
  position: absolute;
  left: -10px;
}

.bg-tanah {
  height: 100px;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(150%);
  }
  45% {
    transform: translateY(90%);
  }
  55% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(150%);
  }
}
