/* ====================================================== */
/* ====================================================== */

.soccer {
  z-index: 5;
}

.soccer h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 1.75em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.soccer-top {
  text-align: center;
  padding: 10px;
}

.soccer-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 37%;
  transform: translateX(-40%);
  width: 31rem;
  height: 10em;
  padding: 20px;
}

.soccer-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.soccer-top_text-button img {
  width: 10em;
  margin: auto 60px;
}

.soccer-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes anchorBackground {
  from {
    background-color: #ffaf95;
  }
  to {
    background-color: #d6ffb5;
  }
}

.soccer-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -2;
}

.soccer #soccer-rumput {
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 170px;
}

.soccer-tanah-container {
  display: flex;
  flex-direction: row;
  animation: slideLeft 15s linear infinite;
}

.soccer #soccer-tanah {
  position: absolute;
  bottom: -25px;
  z-index: -1;
  /* bottom: -165px; */
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ====================================================== */
/* ====================================================== */

#sport-history header nav ul li {
  color: #fff;
}

.sport {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
  top: 0;
  overflow: hidden;
}

.sport-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10em;
  bottom: 200px;
  position: absolute;
  bottom: 150px;
}

.sport h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.batu-sport {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 150px;
}

.type-writer-wrapper {
  background-image: url(/src/assets/pixel-speech-bubble.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Silkscreen', cursive;
  text-align: center;
  margin: auto;
  width: 30rem;
  height: 7.5em;
  padding: 20px;
}

.sport-character-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  z-index: 10;
  height: 10em;
}

.sport-character-button > .sport-character-silat {
  width: 11em;
}

.sport-character-button > .sport-character-esports {
  width: 15em;
  height: 10em;
}

.sport-character-button > .sport-character-catur {
  width: 8em;
}

.sport-character-button > a {
  font-family: 'Press Start 2P', cursive;
  padding: 20px 35px;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  border: 3px solid green;
}

.sport-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.sport-background > img {
  height: 100vh;
}

.sport #sport-background-id {
  width: 100%;
  position: absolute;
  z-index: -3;
}

.silat-obor-container .obor {
  z-index: 100;
  width: 3rem;
}

.silat-obor-top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 50px;
}

.silat-obor-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.type-writer {
  font-size: 20px;
  z-index: 0;
}

/* ====================================================== */
/* ====================================================== */

#angkatbesi-page header nav ul li {
  color: #fff;
}

.angkatbesi-page > h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 4em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.angkatbesi-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.angkatbesi-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 33%;
}

.angkatbesi-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.angkatbesi-top_text-button img {
  width: 12em;
  margin: auto 60px;
  z-index: 10;
}

.angkatbesi-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.angkatbesi-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: -2;
}

.angkatbesi-background > img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
