.sport-container {
  margin-top: 10px;
  overflow: hidden;
}

.sport-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sport-content-1 {
  width: 60%;
}

.sport-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 1.5rem;
  margin-bottom: 0;
  height: 23.8em;
}

.gambar-kiri {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.sport-rounder {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.sport-line {
  margin: auto;
  width: 20px;
}

.data-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.data-item-content {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.sport-title {
  font-weight: 600;
  font-size: 1.15rem;
}

.sport-subtitle {
  font-size: 1.15em;
  margin-bottom: 0.25rem;
  display: inline-block;
}

.lambang-wrapper {
  height: 96%;
}

.sport-data:last-child .data-item {
  display: none;
}

.sport-data:last-child .gambar-kiri {
  visibility: hidden;
}

.sport-data:last-child {
  height: 100px;
}

/* background awan */

.background-awan-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  right: 0;
  z-index: -1;
}

.bg-awan1,
.bg-awan2,
.bg-awan3 {
  position: absolute;
  width: 100%;
  left: -10%;
  justify-content: flex-start;
  display: flex;
}

.img-awan-1,
.img-awan-2,
.img-awan-3 {
  width: 12em;
}

.bg-awan1 {
  top: 61px;
  animation: slideLeft 20s linear infinite;
  z-index: 8;
}

.bg-awan2 {
  top: 269px;
  animation: slideLeft 30s linear infinite;
  z-index: 1;
  margin-top: 25px;
}

.bg-awan3 {
  top: 469px;
  animation: slideLeft 40s linear infinite;
  margin-top: 45px;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
