:root {
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --dirt: #7f4d2e;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #56cdf0;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  color: var(--text-color-black);
}

header .navigation ul {
  display: flex;
  align-items: center;
}

header .navigation ul li {
  list-style: none;
  margin-left: 10px !important;
}

header .navigation ul li a {
  text-decoration: none;
  color: var(--main-color-1);
  padding-left: 8px;
  font-weight: 500;
  margin-right: 5px;
  font-family: 'Roboto Mono', sans-serif;
}

header .navigation ul li a:hover {
  text-decoration: underline;
  transition: 0.2s ease-in;
}

.header-name {
  font-family: 'Press Start 2P', sans-serif;
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 20px;
  align-items: center;
  color: var(--text-color-white);
  -webkit-text-stroke: 0.75px black;
  text-shadow: 0px 1px 0 #000, 0px 2px 0 #000;
  /* text-shadow: 2px 1.5px var(--text-color-black); */
}

header .nav-btn {
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--main-color-1);
  display: none;
}

.footer {
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 240px;
  padding: 75px 100px;
  color: var(--text-color-white);
  background-color: var(--dirt);
  text-decoration: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}

.footer-top_desc {
  text-align: left;
}

.footer-top_desc h4 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 15px;
  -webkit-text-stroke: 0.4px black;
  text-shadow: 0px 1px 0 #000, 0px 2px 0 #000;
}

.footer-top_desc p {
  margin-top: 25px;
}

.footer-top_category {
  display: flex;
}

.footer-top_category-sub p {
  margin-left: 60px !important;
  margin-bottom: 30px;
}

.footer-top_category-sub ul{
  list-style: none;
  margin-left: 100px !important;
}

.footer-top_category-sub ul li{
  margin-top: 15px;
}

.footer-bottom {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
}

.footer-bottom_list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer-bottom_list ul li {
  margin-right: 40px !important;
}


/* ====================================================== */
/* ====================================================== */

.home {
  text-align: center;
}

.home-container {
  /* background-color: #86dcf5; */
  margin: auto 0;
  text-align: center;
  padding: 70px 0 0 0;
  z-index: 5;
}

.home-slogan {
  font-size: 46px;
  line-height: 65px;
  font-family: 'Press Start 2P', sans-serif;
  background: linear-gradient(to bottom, #ffb800, #ffd700, #fff500);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-stroke: 0.75px black;
  /* text-shadow: 2px 2px 0 #000; */
}

.home-slogan span {
  background: linear-gradient(to bottom, #ff0000, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
}

.home-text {
  margin: 70px 0;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto Mono', sans-serif;
}

.home-container a {
  border: 0;
  color: transparent;
  font-family: 'Press Start 2P', sans-serif;
  padding: 20px;
  cursor: pointer;
  background-image: url(/src/assets/home-button/button-mulai-jelajah.png);
  background-size: cover;
  z-index: 5;
}

.home-container a:hover {
  background-image: url(/src/assets/home-button/button-mulai-jelajah-hover.png);
  transition: 0.2s ease-in;
}

/* ====================================================== */
/* ====================================================== */

.sports-container {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  padding: 25px 150px 50px 150px;
  z-index: 5;
}

.sports-container h3 {
  font-size: 38px;
  margin: 25px 0 50px 0;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.sports-type-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 100px;
  padding: 0 50px;
}

.sports-type-container a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.sports-type-container a:hover {
  box-shadow: 0px 4px 8px 0px rgb(75, 75, 75);
  animation: 1s ease-in-out;
}

.sports-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  justify-self: center;
  width: 100%;
}

.sports-card p {
  font-size: 16px;
  padding: 20px 0;
}

.sports-card img {
  width: 100%;
}

/* ====================================================== */
/* ====================================================== */

.soccer h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.soccer-top {
  text-align: center;
  padding: 30px;
}

.soccer-top p {
  background-image: url(/src/assets/pixel-speech-bubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35rem;
  font-family: 'Silkscreen', cursive;
  font-size: 20px;
  padding: 20px 10px 60px 10px;
  text-align: center;
  z-index: 0;
}

.soccer-top span {
  font-family: 'Silkscreen', cursive;
  font-size: 20px;
}

/* .soccer-top img {
  position: absolute;
  right: 525px;
  bottom: 350px;
  width: 500px;
  z-index: 0;
} */

.soccer-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.soccer-top_text-button img {
  width: 10%;
  margin: auto 60px;
  aspect-ratio: 1;
}

.soccer-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes anchorBackground {
  from {
    background-color: #FFAF95;
  }
  to {
    background-color: #D6FFB5;
  }
}

/* ====================================================== */
/* ====================================================== */

.silat h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.silat-top {
  padding: 30px;
  text-align: center;
}

.silat-top span {
  font-family: 'Silkscreen', cursive;
}


.silat-top p {
  background-image: url(/src/assets/pixel-speech-bubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'Silkscreen', cursive;
  font-size: 20px;
  padding: 20px 10px 60px 10px;
  text-align: center;
  z-index: 0;
}

/*.silat-top img {
  position: absolute;
  right: 525px;
  bottom: 350px;
  width: 500px;
  z-index: 0;
} */

.silat-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.silat-top_text-button img {
  width: 10%;
  margin: auto 60px;
  aspect-ratio: 1;
}

.silat-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}