@import url(./responsive.css);

:root {
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --dirt: #7f4d2e;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #56cdf0;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  color: var(--text-color-black);
}

header .navigation ul {
  display: flex;
  align-items: center;
}

header .navigation ul li {
  list-style: none;
  margin-left: 10px !important;
}

header .navigation ul li a {
  text-decoration: none;
  color: var(--main-color-1);
  padding-left: 8px;
  font-weight: 500;
  margin-right: 5px;
  font-family: 'Roboto Mono', sans-serif;
}

header .navigation ul li a:hover {
  text-decoration: underline;
  transition: 0.2s ease-in;
}

.header-name {
  font-family: 'Press Start 2P', sans-serif;
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 20px;
  align-items: center;
  color: var(--text-color-white);
  -webkit-text-stroke: 0.75px black;
  text-shadow: 0px 1px 0 #000, 0px 2px 0 #000;
  /* text-shadow: 2px 1.5px var(--text-color-black); */
}

header .nav-btn {
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--main-color-1);
  display: none;
}

.footer {
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 230px;
  padding: 75px 100px;
  color: var(--text-color-white);
  background-color: var(--dirt);
  text-decoration: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}

.footer-top_desc {
  text-align: left;
}

.footer-top_desc h4 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 15px;
  -webkit-text-stroke: 0.4px black;
  text-shadow: 0px 1px 0 #000, 0px 2px 0 #000;
}

.footer-top_desc p {
  margin-top: 25px;
}

.footer-top_category {
  display: flex;
}

.footer-top_category-sub p,
.footer-top_category-sub li {
  margin-left: 70px;
  text-align: left;
}

.footer-top_category-sub p {
  margin-bottom: 25px;
}

.footer-top_category-sub ul {
  list-style: none;
}

.footer-top_category-sub ul li {
  margin-top: 15px;
}

.footer-bottom {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
}

.footer-bottom_list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer-bottom_list ul li {
  margin-right: 40px !important;
}

/* ====================================================== */
/* ====================================================== */

.home {
  text-align: center;
}

.home-container {
  /* background-color: #86dcf5; */
  margin: auto 0;
  text-align: center;
  padding: 70px 0 0 0;
  z-index: 5;
}

.home-slogan {
  font-size: 46px;
  line-height: 65px;
  font-family: 'Press Start 2P', sans-serif;
  background: linear-gradient(to bottom, #ffb800, #ffd700, #fff500);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-stroke: 0.75px black;
  /* text-shadow: 2px 2px 0 #000; */
}

.home-slogan span {
  background: linear-gradient(to bottom, #ff0000, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
}

.home-text {
  margin: 70px 0;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto Mono', sans-serif;
}

.home-container a {
  border: 0;
  color: transparent;
  font-family: 'Press Start 2P', sans-serif;
  padding: 20px;
  cursor: pointer;
  background-image: url(/src/assets/home-button/button-mulai-jelajah.png);
  background-size: cover;
  z-index: 5;
}

.home-container a:hover {
  background-image: url(/src/assets/home-button/button-mulai-jelajah-hover.png);
  transition: 0.2s ease-in;
}

/* ====================================================== */
/* ====================================================== */

.sports-container {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  padding: 25px 150px 0px 150px;
  z-index: 5;
}

.sports #sports-rumput {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.sports-container h3 {
  font-size: 38px;
  margin: 25px 0 50px 0;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.sports-type-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 100px;
  padding: 0 50px;
}

.sports-type-container a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.sports-type-container a:hover {
  box-shadow: 0px 4px 8px 0px rgb(75, 75, 75);
  animation: 1s ease-in-out;
}

.sports-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  justify-self: center;
  width: 100%;
}

.sports-card p {
  font-size: 16px;
  padding: 20px 0;
}

.sports-card img {
  width: 100%;
}

/* ====================================================== */
/* ====================================================== */

.soccer {
  z-index: 5;
}

.soccer h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 1.75em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.soccer-top {
  text-align: center;
  padding: 10px;
}

.soccer-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 37%;
  transform: translateX(-40%);
  width: 31rem;
  height: 10em;
  padding: 20px;
}

/* .soccer-top p {
  background-image: url(/src/assets/pixel-speech-bubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35rem;
  font-family: 'Silkscreen', cursive;
  font-size: 20px;
  padding: 20px 10px 60px 10px;
  text-align: center;
  z-index: 0;
} */

/* .soccer-top span {
  font-family: 'Silkscreen', cursive;
  font-size: 20px;
} */

.soccer-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.soccer-top_text-button img {
  width: 10em;
  margin: auto 60px;
}

.soccer-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes anchorBackground {
  from {
    background-color: #ffaf95;
  }
  to {
    background-color: #d6ffb5;
  }
}

.soccer-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -2;
}

.soccer #soccer-rumput {
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 170px;
}

.soccer-tanah-container {
  display: flex;
  flex-direction: row;
  animation: slideLeft 15s linear infinite;
}

.soccer #soccer-tanah {
  position: absolute;
  bottom: -25px;
  z-index: -1;
  /* bottom: -165px; */
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ====================================================== */
/* ====================================================== */

#silat-page header nav ul li {
  color: #fff;
}

.silat {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -10;
  /* background-color: #252551; */
  background-image: url(../assets/img-background/silat-background.png);
  background-repeat: repeat-y;
}

.silat h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 4em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.silat-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.silat-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 38%;
}

.type-writer-wrapper {
  background-image: url(/src/assets/pixel-speech-bubble.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Silkscreen', cursive;
  text-align: center;
  position: absolute;
  left: 47%;
  top: 40%;
  transform: translateX(-40%);
  width: 31rem;
  height: 10em;
  padding: 20px;
}

/* .silat-top span {
  font-family: 'Silkscreen', cursive;
} */

.silat-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.silat-top_text-button img {
  width: 12em;
  margin: auto 60px;
}

.silat-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.silat-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  z-index: -2;
}

.silat #silat-bangunan {
  width: 100%;
  position: absolute;
  z-index: -3;
}

.silat-batu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.silat #silat-batu {
  width: 100%;
  /* position: absolute; */
  z-index: -2;
  margin-top: 220px;
  padding-top: 20px;
  /* bottom: -175px; */
}

.silat-obor-container .obor {
  z-index: 100;
  width: 3rem;
}

.silat-obor-top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 50px;
}

.silat-obor-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

/* Type Writer */
.type-writer {
  font-size: 20px;
  z-index: 0;
}

/* ====================================================== */
/* ====================================================== */

.chess {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -10;
  background-color: #fcb632;
}

.chess h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 4em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.chess-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 38%;
}

.chess-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.chess-top_text-button img {
  width: 8em;
  margin: auto 60px;
}

.chess-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.chess-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  z-index: -2;
}

.chess #chess-bangunan {
  width: 100%;
  position: absolute;
  aspect-ratio: 18/9;
  z-index: -3;
}

.chess-tanah-container {
  display: flex;
  flex-direction: row;
}

.chess #chess-tanah {
  width: 100%;
  position: absolute;
  z-index: -2;
  bottom: -75px;
  /* bottom: -175px; */
}

/* ====================================================== */
/* ====================================================== */

#esports-page header nav ul li {
  color: #fff;
}

.esports {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -10;
}

.esports h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 4em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.esports-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.esports-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 42%;
}

.esports-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.esports-top_text-button img {
  width: 16em;
  margin: auto 60px;
}

.esports-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.esports-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  z-index: -2;
}

.esports #esports-background {
  width: 100%;
  position: absolute;
  z-index: -2;
}

.esports-batu-container {
  display: flex;
  flex-direction: column;
}

.esports #esports-batu {
  width: 100%;
  margin-top: 400px;
  padding-top: 245px;
  z-index: -1;
  aspect-ratio: 7;
}

/* ====================================================== */
/* ====================================================== */

#bulutangkis-page header nav ul li {
  color: #fff;
}

.bulutangkis {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -10;
}

.bulutangkis h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 4em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.bulutangkis-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulutangkis-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 38%;
}

.bulutangkis-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.bulutangkis-top_text-button img {
  width: 12em;
  margin: auto 60px;
}

.bulutangkis-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.bulutangkis-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  z-index: -2;
}

.bulutangkis #bulutangkis-background {
  width: 100%;
  position: absolute;
  z-index: -2;
}

/* ====================================================== */
/* ====================================================== */

#angkatbesi-page header nav ul li {
  color: #fff;
}

.angkatbesi {
  position: absolute;
  width: 100%;
  top: -5px;
  z-index: -10;
  background-image: url(../assets/img-background/weightlifting-background.png);
  background-repeat: repeat;
}

.angkatbesi h3 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 38px;
  margin: 50px 0;
  margin-top: 4em;
  color: var(--text-color-white);
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 4px 0 #000, 3px 3px 0 #000;
}

.angkatbesi-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.angkatbesi-top .type-writer-wrapper {
  position: absolute;
  left: 46%;
  top: 33%;
}

.angkatbesi-top_text-button {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

.angkatbesi-top_text-button img {
  width: 12em;
  margin: auto 60px;
  z-index: 10;
}

.angkatbesi-top_text-button a {
  font-family: 'Press Start 2P', cursive;
  padding: 12px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  animation-name: anchorBackground;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.angkatbesi-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  z-index: -2;
}

.angkatbesi #angkatbesi-background {
  width: 100%;
  position: absolute;
  z-index: -2;
}

.angkatbesi-awan-container {
  position: absolute;
  /* display: flex; */

}

.angkatbesi-awan-container img {
  z-index: -10;
  width: 90%;
}

.angkatbesi-batu-container {
  display: flex;
}

.angkatbesi-batu-container img {
  width: 100%;
  z-index: 2;
}

/* ====================================================== */
/* ===================== RESPONSIVE ===================== */
/* ====================================================== */

@media screen and (max-width: 768px) {
  header {
    padding: 25px 60px;
  }

  header .nav-btn {
    display: block;
    color: #000;
  }

  #silat-page header nav ul li,
  #esports-page header nav ul li,
  #bulutangkis-page header nav ul li,
  #angkatbesi-page header nav ul li
  {
    color: #000;
  }

  #silat-page header .nav-btn,
  #esports-page header .nav-btn,
  #bulutangkis-page header .nav-btn,
  #angkatbesi-page header .nav-btn
  {
    color: #fff;
  }

  #silat-page header .nav-close-btn,
  #esports-page header .nav-close-btn,
  #bulutangkis-page header .nav-close-btn,
  #angkatbesi-page header .nav-close-btn
  {
    color: #000;
  }

}
